<h1> Log In </h1>

<% if flash.now[:notice] == "User was successfully created." %>
<div class="alert alert-success" role="alert">
  <%= flash.now[:notice] %>
</div>
<% elsif flash.now[:notice] == "PennKey or Password Incorrect" %>
<div class="alert alert-danger" role="alert">
  <%= flash.now[:notice] %>
</div>
<% end %>

<%= form_with url: '/login' do |form| %>
	<%= form.label :PennKey %>
  <br>
	<%= form.text_field :PennKey %>
  <br>
  <br>
  <%= form.label :Password %>
  <br>
	<%= form.password_field :Password %>
  <br>
  <br>
  <div class="actions">
    <input type="submit" name="commit" value="Login" class="btn btn-secondary" data-disable-with="Submit">
  </div>
<% end %>