<script src="https://kit.fontawesome.com/1d9373cc66.js" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<a href="<%= user_path(User.find(session[:user_id])) %>">
    <button type="button" class="btn btn-primary"><i class="fas fa-user"></i> My Page</button>
</a>

<h2>Instructors</h2>

<table class="table" stule="margin-top: 10px;">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Pennkey</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user!= User.find(session[:user_id]) && user.is_instructor %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.pennkey %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<h2>Students</h2>

<table class="table" stule="margin-top: 10px;">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Pennkey</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user!= User.find(session[:user_id]) && !user.is_instructor %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.pennkey %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
