<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= Department.find(@course.department_id)[:name] %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<% if User.find(session[:user_id]).is_instructor && @course.users.include?(User.find(session[:user_id])) %>
  <a href="<%= edit_course_path(@course) %>">
    <button type="button" class="btn btn-outline-primary">Edit</button>
  </a>
<% end %>
<a href="<%= courses_path %>">
    <button type="button" class="btn btn-outline-primary">Back</button>
</a>
